body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-chart {
  border: 1px solid #e9e9e9;
  border-radius: 8px;
  margin: 10px;

}

.card-chart-title {
  font-size: 12px;
  font-weight: bold;
}

hr {
  margin: 7px -10px 0px -10px !important;
}

.is-uppercase {
  text-transform: uppercase !important;
}

.circle-icon {
	width: 12px;
  height: 12px;
	border-radius: 100%;
  margin: 4px;
}

.ellipsis-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}